:root {
    /* --primary-color: #EB6E00; */
    --primary-color: #eb6e00;
    --primary-color-highlight: #4a90e2;
    --primary-white-highlight: #ffffff;
    --secondary-color: #000000;
    /*for buttons*/

    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;
    --accent-color: #2b2b2b;
    --text-color: #333333;  /*for readablility*/
}
/* view{

} */
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.scroll_animation{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
/* body{
    overflow: hidden;

} */
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* Media Queries for Responsive Designing */
/*
@media (min-width: 544px) {}
@media (min-width: 768px) {}
@media (min-wdith: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {}
@media (min-width: 1600px) {}

*/
a {
    color: var(--primary-color);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--primary-white-highlight);
    line-height: 1.6;
}

/* a:hover {
    color: var(--primary-color);
} */

/* -------------------Navbar------------------------- */
#nav-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.navbar__container {
    flex-wrap: nowrap;
}

.navbar {
    background: var(--accent-color);
    padding: 0 !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Transparent navbar on hero section */
.navbar-transparent {
    background-color: transparent;
    box-shadow: none;
}

/* Navbar styling when scrolling past hero section */
.navbar-colored {
    background: var(--accent-color); /* Your desired background color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}

.navbar .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* For making sure the logo and toggle are in same line */
/* .navbar>.container-fluid 
{
    flex-wrap: nowrap;
} */
.navbar-brand {
    display: flex;
    align-items: center;
    width: auto;
}

.navbar-brand img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: var(--primary-white-highlight);
    font-size: 20px;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-nav li a:hover {
    color: var(--primary-color);
}
.bi-list {
    color: white;
    font-size: 30px;
}

.navbar-toggler {
    outline: none !important;

}

.collapse.show {
    position: relative;
    z-index: 5;
}

/* Dropdown List */
/* Hide Dropdown Arrow */
@media (max-width: 768px) {
    .navbar {
        padding: 1rem 2rem;
        /* Ensure padding is consistent */
    }

    .navbar-brand img {
        max-width: 160px;
        /* Adjust logo size for smaller screens */
    }
}

.navbar-nav .dropdown-toggle::after {
    display: none !important;

}

/* Dropdown Menu Styling */
.dropdown-menu {
    background-color: var(--bs-body-bg);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Dropdown Items */
.dropdown-menu .dropdown-item {
    color: var(--accent-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--secondary-color);
    color: var(--primary-white-highlight);
}
.underline-effect:active {
    display: block;
    width: 0;
    height: 2px;
    background: #FFD700; /* Gold underline */
    transition: width 0.3s;
    bottom: -5px;
    left: 0;
    z-index: 10
}
.underline-effect:active::after {
    display: block;
    width: 0;
    height: 2px;
    background: #FFD700;
    /* Gold underline */
    transition: width 0.3s;
    bottom: -5px;
    left: 0;
    z-index: 10
}

.underline-effect:hover::after {
    width: 100%;
    /* Full underline on hover */
}

/* Buttons */
.btn-primary {
    background-color: #eb6e00;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #c75a00;
}

.btn-secondary {
    background-color: #333333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-outline-light {
    border-color: #eb6e00;
    color: var(--primary-white-highlight);
    transition: 0.3s;
}

.btn-outline-light:hover {
    background-color: black;
    color: white;
}

/* ---------------Navbar-ends------------------------------ */

/* Custom Container */
.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

/* ---------------------------- Hero Section Starts-------------------------------- */
.hero {
    position: relative;
    height: 100vh;

    /* background-color: var(--primary-color); */
    /* background: linear-gradient(135deg, #eb6e00, #291402); */
    background-color: #2b2b2b;
    overflow: hidden;
    color: white;
}
/* .hero__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    z-index: -5;
    background-color: var(--primary-color);
    opacity: 0.1;
} */

.hero__video {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;

    transform: translateX(-50%) translateY(-50%);
}

/* 
.hero__content{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    text-align: center;
} */
.hero__parent {
    display: flex;
    flex: 2
 }
.hero__logo {
    position: absolute;
    right: 200px;
    bottom: 0;
    max-width: 400px;
    height: auto;
    width: 100%;
}

.hero__logo img {
    width: 100%;
    aspect-ratio: 2/3;
}

.content-container {
    display: flex;
    /* flex-direction: row; */
    /* justify-self: start; */
    flex: 30%;
    margin: 0 auto;
    padding: 0 2rem;

}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    margin: auto;
    z-index: 3;
}

@media (min-width: 1400px) {
    .hero__heading {
        font-size: 4.9rem;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        color: var(--secondary-color);
        font-family: 'Montserrat', sans-serif;

    }
}
.hero__tagline-part{
    /* font-size: 1.2rem; */
    text-align: center;
    margin-bottom: 40px;
    color: var(--primary-white-highlight);
}

.hero__tagline-content {
    text-align: center;
    margin-bottom: 40px;
    color: var(--text-color);
}

.hero__tagline-keyword {
    color: var(--primary-color);
    font-weight: bold;
}

.hero__tagline-content {
    text-align: center;
    margin-bottom: 40px;
    color: var(--text-color);
}

.text-color {
    color: var(--text-color);
}

.hero__content-width {
    max-width: 640px;
}

.hero__content-description {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: var(--primary-white-highlight);
}

.hero__scroll-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;

    transform: translateX(-50%);
    z-index: 2;

    color: var(--primary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover {
    color: var(--bs-body-bg);
    opacity: 0.8;
}

.hero__scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

/* ----------------------Hero Section Ends--------------------- */
/* ----------------------Explore Section----------------------- */

/* Tagline */
/* .tagline {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 50px;
    color: var(--primary-color);
} */
.explore-card{
    background-color: var(--primary-white-highlight);

}

/* Cards  */
.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin:120px auto;
    /* flex-wrap: wrap; */
}

.card {
    position: relative;
    /* width: 20%; */
    /* height: 50%; */
    /* min-width: 300px; */
    min-height: 250px;
    padding: 20px;
    margin: 0px;

    border: .5px solid #E1E1E1;
    border-radius: 14px;
    box-sizing: border-box;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-white-highlight);

    display: flex;
    flex-direction: column;
    /* text-align: center;      */
    align-items: center;
    /* justify-content: center; */

    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    /* Include smooth transition */
}

.card p {
    font-size: 1.2rem;
    color: var(--text-color);
    /* width: 100%; */
}

.card h3 {
    color: var(--primary-color);
    /* Orange accent for titles */
    font-size: 22px;
    margin-bottom: 10px;
}

.card-image {
    width: 100%;
    /* Full width for the images */
    height: 250px;
    /* Increased height for larger image */
    object-fit: cover;
    /* Ensure images fill the area without distortion */
    border-bottom: 2px solid #eee;
}

.card p {
    margin: 10px;
    text-align: justify;
    /* Justify the text */
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-color: black;
    /* Background turns black on hover */
    color: white;
    
}
/* Responsive */
@media (max-width: 768px) {
    .tagline {
        font-size: 2rem;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .event-cards {
        flex-direction: column;
        align-items: center;
    }

}
/* ----------------------Explore Section Ends------------------ */
/* ----------------------Networking Section Starts------------ */

/* .event-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
} */
.section__heading {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
}
.section__heading:hover{
    text-decoration: underline;
    /* transition: 0s; */
}
.event-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    background-color: var(--bs-body);
    /* padding: 20px; */
}

.network-card {
    background-color: var(--bs-light);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    text-align: left;
}

.card-header {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.badge {
    background-color: #f1c40f;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.live {
    background-color: #ff4757;
    color: white;
}

.new {
    background-color: #2ed573;
    color: white;
}

/* Partners Section */
/* Footer Section */
.partners-section {
    background-color: #5D9CEC;
    padding: 40px 0;
    color: #fff;
    text-align: center;
}
.partner-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.partner-logos .logo {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Footer */
#footer {
    /* background-image: linear-gradient(to right, #a517ba, #5f1782); */
    background-color: var(--accent-color);
    width: 100%;
    min-height: 250px;

}

/* #footer p {
    color: black;
} */

.footer-heading {
    /* text-align: center; */
    padding-top: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color);
}

.social-icons {
    display: flex;
}

.social-icons img {
    width: 50px;
    height: 50px;
    transition: 0.5s;
    /* margin-top: 50px; */
}

.social-icons img:hover {
    transform: scale(1.2);
}

.newsletter {
    /* color: black; */
    padding: 0px;
}

.btn-newsletter {
    box-shadow: none !important;
    border: none;
    border-radius: 20px;
    padding: 8px 25px !important;
    color: var(--primary-white-highlight);
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    top: 10px;
}

.copyright {
    background-color: var(--accent-color);
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
.copyright p {
    color: var(--primary-color);
    padding: 10px 0;
}