/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary-color: #eb6e00;
  /* --primary-color-highlight: #4a90e2; */
  --primary-color-highlight: #ff6b00;
  --primary-white-highlight: #ffffff;
  --secondary-color: #000000;

  --bs-body-bg: #FBF0F6;
  --bs-body-font-family: 'Montserrat', sans-serif;
  --navbar-font-family: 'Roboto', sans-serif;
  --card-font-family: 'Inter', sans-serif;
  --accent-color: #2b2b2b;
  --text-color: #4e4e4e;
  /*for readablility*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: var(--primary-color); */
  background: #eb6e00df;
  padding: 30px;
}

.close-btn {
  /* position: relative; */
  /* top: 10px; */
  /* left: 340px; */
  font-size: 24px;
  color: var(--primary-color);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: right;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.close-btn:hover {
  background-color: #f8f8f8;
  color: var(--primary-white-highlight);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.container {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: var(--accent-color);
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
}

.container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.container #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}

.container #flip:checked ~ .forms .login-form {
  pointer-events: none;
}

.container .cover .front,
.container .cover .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover .back {
  transform: rotateY(180deg);
}

.container .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.container .cover .text {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .cover .text::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: var(--accent-color);
}

.cover .text .text-1,
.cover .text .text-2 {
  z-index: 20;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.cover .text .text-2 {
  font-size: 15px;
  font-weight: 500;
}

.container .forms {
  height: 100%;
  width: 100%;
  /* background: #fff; */
  background: var(--accent-color)
}

.container .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color:var(--primary-white-highlight);
}

.forms .form-content .title:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: var(--primary-color);
}

.forms .signup-form .title:before {
  width: 20px;
}

.forms .form-content .input-boxes {
  margin-top: 30px;
}

.forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  /* background: gray; */
  /* border-radius: 10px; */
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: var(--primary-color-highlight);
}

.form-content .input-box i {
  position: absolute;
  color: var(--primary-color);
  font-size: 17px;
  padding: 0px 2px;
}

.forms .form-content .text {
  font-size: 14px;
  font-weight: 500;
  /* color: #333; */
  color: var(--primary-white-highlight)
}

.forms .form-content .text a {
  text-decoration: none;
}

.forms .form-content .text a:hover {
  text-decoration: underline;
}

.forms .form-content .button {
  /* color: #fff; */
  font-variant: var(--primary-white-highlight);
  margin-top: 40px;
}

.forms .form-content .button input {
  color: #fff;
  background: var(--primary-color);
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.forms .form-content .button input:hover {
  background: var(--primary-color);
}

.forms .form-content label {
  color: var(--primary-color);
  cursor: pointer;
}

.forms .form-content label:hover {
  text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}

.container #flip {
  display: none;
}

@media (max-width: 730px) {
  .container .cover {
    display: none;
  }

  .form-content .login-form,
  .form-content .signup-form {
    width: 100%;
  }

  .form-content .signup-form {
    display: none;
  }

  .container #flip:checked ~ .forms .signup-form {
    display: block;
  }

  .container #flip:checked ~ .forms .login-form {
    display: none;
  }
}
.forgot-password {
  color: var(--primary-color);
}
.forgot-password:hover {
  text-decoration: underline;
  color: #ede505;
} 