
:root{
    --primary-color: #007bff;
    --primary-color-highlight: #057bff;
    -bs-body-bg: #f8f9fa;
    --bs-body-font-family: 'Montserrat', sans-serif;    
}

/* -------------------Navbar------------------------- */
#nav-bar {
    position: relative;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #2F3B4B, #31455f);
    padding: 0 !important;
}

.navbar-brand img {
    height: 50px;
    padding-left: 20px;
}

.navbar-nav li {
    pad: 0 10px;
}

.navbar-nav li a {
    color: white !important;
    font-size: 18px;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: white;
    font-size: 30px;
}

.navbar-toggler {
    outline: none !important;
}

/* ---------------Navbar-ends------------------------------ */